body {
	background: #1F1F1F;
	font-family: 'Roboto Mono', monospace;
}



/*
	utils
*/
.center {
	display: flex;
	align-items: center;
}
.space {
	margin-left: 100px;
	margin-right: 1px;
}



/*
	app wrappers
*/
.App {
	height: 100vh;
	flex-flow: column nowrap;
}

.App--wrapper {
	color: #fff;
	flex-grow: 1;
	flex-flow: column nowrap;
	width: 100%;
}



/* 
	Input and buttons
*/
.App--task-input {
	width: inherit;
	flex-flow: column nowrap;
	margin-top: 3rem;
}

.task-input--actions {
	width: inherit;
	justify-content: center;
	margin-top: 2rem;
}

.App__input {
	background: #fff;
	color: #1F1F1F;
	width: 40%;
	font-size: 1.125rem;
	padding: 1rem 0 1rem 1rem;
	font-family: 'Roboto Mono', monospace;
}
/*
	inputs placeholder config
*/
::-webkit-input-placeholder { /* Edge */
	font-family: 'Roboto Mono', monospace;
	color: #B4B4B4
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-family: 'Roboto Mono', monospace;
	color: #B4B4B4
}

::placeholder {
	font-family: 'Roboto Mono', monospace;
	color: #B4B4B4
}

.App--task-input h1{
	color: #fff;
	font-size: 4.5rem;

}

.App__button {
	background: #D629F2;
	color: #fff;
	font-size: 1.125rem;
	padding: 1.18rem 1.5rem 1.2rem 1.5rem;
	transition: ease .5s;
	cursor: pointer;
}
.App__button:hover {
	background: rgb(172, 83, 185);
}



/*
	TaskList
*/
.App--task-list {
	width: inherit;
	margin-top: 5rem;
	justify-content: center;
	align-items: flex-end;
}

.task--list-wrapper {
	margin-right: 5rem;
}

.task--list-wrapper h1 {
	color: #fff;
	font-size: 2.25rem;
	text-align: center;
}

.task--list {
	padding-top: 1rem;
}

.task--card {
	background: #fff;
	color: #1F1F1F;
	width: 310px;
	height: 41px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	margin-bottom: 1rem;
	transition: ease .5s;
	cursor: pointer;
}
.task--card:hover {
	transform: scale(1.1,1.1)
}

.task--card span {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
}

.card--controls {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.div {
	height: 29px;
	margin: 0 .5rem 0 .5rem;
	border-left: 1px solid #DADADA;
}

/*
	App footer bar
*/
.App--footer {
	background: #fff;
	width: 100%;
	height: 60px;
	align-self: flex-end;
	justify-content: center;
}

.App--footer span {
	font-size: 1.125rem;
	margin-left: 5px;
	margin-right: 5px;
}